[Desktop Entry]
Version=1.0
Type=Application
Name=kitty (no session)
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/home/dlipovetsky/.local/bin/kitty
Exec=/home/dlipovetsky/.local/bin/kitty --detach --single-instance
Icon=kitty
Categories=System;TerminalEmulator;
