[Desktop Entry]
Version=1.0
Type=Application
Name=kitty (default session)
GenericName=Terminal emulator
Comment=Fast, feature-rich, GPU based terminal
TryExec=/home/dlipovetsky/.local/bin/kitty
Exec=env KITTY_SESSION=/home/dlipovetsky/.config/kitty/sessions/default.conf /home/dlipovetsky/.local/bin/kitty --session /home/dlipovetsky/.config/kitty/sessions/default.conf --detach --single-instance
Icon=kitty
Categories=System;TerminalEmulator;
